# ===== General =====
DJANGO_ENV=dev
SECRET_KEY=cambiame-por-una-clave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# Dominio de producción
# ALLOWED_HOSTS=portalclientes.pacifico.mikecardona076.com
# CSRF_TRUSTED_ORIGINS=https://portalclientes.pacifico.mikecardona076.com

# ===== Base de datos (producción) =====
POSTGRES_DB=clientesd
POSTGRES_USER=clientesd
POSTGRES_PASSWORD=clientesd
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ===== Email (reset de contraseña) =====
# En dev se usa consola; en prod configurar SMTP.
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=portalclientes@pacifico.mikecardona076.com

# ===== Bustrax API =====
BUSTRAX_IUSER=LOGMIKE_TJ2
BUSTRAX_VER_REPORTS=1.1.0
BUSTRAX_VER_JSON=1.0.1
BUSTRAX_TOKEN_TRIPS=cambia-esto-por-tu-token-de-viajes
BUSTRAX_TOKEN_MAE=cambia-esto-por-tu-token-de-mae

# ===== Traffilog (GPS, refinamiento) =====
TRAFFILOG_BASE=https://api.traffilog.mx/clients/json
TRAFFILOG_USERNAME=Lidcorp_ruedata
TRAFFILOG_PASSWORD=cambia-esto-por-tu-password-traffilog
TRAFFILOG_TZ=America/Tijuana

# ===== CR =====
CR_WINDOW_DEFAULT=14d
